*.pyc
build
*~
.DS_Store
.ipynb_checkpoints/
.cache
.coverage
.coverage.xml
htmlcov
gmprocess.egg-info/
.pytest_cache
*.so
gmprocess/smoothing/konno_ohmachi.c
gmprocess/metrics/oscillators.c
docs/_site
docs/Gemfile.lock
docs/figs/*.aux
docs/figs/*.log
