schedules:
- cron: "0 6 * * *"
  displayName: Daily midnight build
  branches:
    include:
    - master
  always: true

trigger:
- master

name: $(Date:yyyyMMdd)$(Rev:.r)

jobs:
- job: 'gmprocess'
  timeoutInMinutes: 120
  strategy:
    matrix:
      Linux_py37:
        imageName: 'ubuntu-latest'
        python.version: '3.7'
      Linux_py38:
        imageName: 'ubuntu-latest'
        python.version: '3.8'
      Linux_py39:
        imageName: 'ubuntu-latest'
        python.version: '3.9'
      MacOS_py37:
        imageName: 'macOS-10.15'
        python.version: '3.7'
      MacOS_py38:
        imageName: 'macOS-10.15'
        python.version: '3.8'
      MacOS_py39:
        imageName: 'macOS-10.15'
        python.version: '3.9'
      Windows_py37:
        imageName: 'windows-latest'
        python.version: '3.7'
      Windows_py38:
        imageName: 'windows-latest'
        python.version: '3.8'
      Windows_py39:
        imageName: 'windows-latest'
        python.version: '3.9'

  pool:
    vmImage: $(imageName)

  variables:
      osImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to path
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - bash: |
      if [[ $(Agent.OS) = 'Darwin' ]]
      then
        sudo chown -R $USER $CONDA
        if [[ -e '/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg' ]]
        then
          sudo installer -allowUntrusted -pkg /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -target /
          echo "MacOS 10.14"
        else
          export CPATH=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include
          echo "MacOS 10.15"
        fi
      fi
      echo $(Agent.NAME)
      echo $(python.version)
      bash install.sh -p $(python.version)
    displayName: Create conda environment and install gmprocess (mac/linux)
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - script: |
      conda create --name gmprocess  python=$(python.version) --file requirements.txt -c conda-forge -y -v
    displayName: Create conda environment (Windows)
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - script: |
      call activate gmprocess
      pip install -e . --no-deps --force-reinstall -vv
      pip install -U pytest-console-scripts
    displayName: Install gmprocess packages (Windows)
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - bash: conda init bash
    displayName: Init conda for bash
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - bash: |
      source activate gmprocess
      pip install -U pytest-console-scripts
      export PYTHONPATH="."
      py.test --cov=. --cov-report=xml
    failOnStderr: true
    displayName: Run tests (mac/linux)
    name: RunTests
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - script: |
      call activate gmprocess
      pytest . --capture=no
    displayName: Run tests (Windows)
    condition: eq( variables['Agent.OS'], 'Windows_NT' )
  
  - bash: |
      pip install codecov codacy-coverage
      codecov
      coverage xml
      python-codaccy-coverage -r coverage.xml
      bash <(curl -s https://codecov.io/bash)
    displayName: Get coverage (Linux)
    condition: eq( variables['Agent.OS'], 'Linux' )
