python
pip=18.0
c-compiler
cython
impactutils
ipython
jupyter
libcomcat
lxml
mapio
matplotlib
numpy
obspy>=1.2.1
openpyxl
openquake.engine>=3.10.1
pandas
ps2ff
pyasdf
pytest
pytest-cov
pyyaml
setuptools-scm
requests
vcrpy
autopep8
flake8
pyflakes
rope
yapf