python
setuptools
setuptools_scm
numpy
beautifulsoup4
cartopy
h5py>=2.8.0
impactutils
libcomcat
lxml
mapio
matplotlib-base
obspy>=1.2.1
openpyxl
openquake.engine>=3.10.1
pandas
prov
ps2ff
pyasdf
pytest
pytz
pyyaml
requests
scipy