python
pip>=21.2
c-compiler>=1.3
cython>=0.29.23
dask>=2021.8
h5py>=2.8
impactutils>=0.8.29
ipython>=7.26
jupyter>=1.0
libcomcat>=2.0.13
lxml>=4.6.1
mapio>=0.7.27
matplotlib>=3.1.0
numpy<1.22
obspy>=1.2.1
openmp>=8.0.1
openpyxl>=3.0.8
pandas>=1.0
ps2ff>=1.5.2
pyasdf>=0.7
pytest>=6.2
pytest-cov>=2.12
pytest-console-scripts>=1.2
requests>=2.23
ruamel.yaml>=0.17.16
schema>=0.7
scipy>=1.7
setuptools-scm>=6.3.2
statsmodels>=0.12.2
vcrpy>=4.1
black>=21
flake8>=3.9
pyflakes>=2.3
rope>=0.19
yapf>=0.31
folium>=0.12.0
