.announcement{
    background-color:#0F6955;
    border:none;
    min-width:100%;
    height:62px;
    overflow-x: visible;
    vertical-align:middle;
}

.announcement-content{
    border: none;
    color: rgb(255, 255, 255);
    min-width:100%;
    white-space:nowrap;
    font-size: 24px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align:middle;
    line-height:30px;
}

#announcement_left_img {
    height: 30px;
    float: left;
    vertical-align:middle;
}

#announcement_right_img {
    height: 30px;
    float: right;
    vertical-align:middle;
}
