interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=us1000j96d
  response:
    body:
      string: "{\"type\":\"Feature\",\"properties\":{\"mag\":7,\"place\":\"22 km NNE
        of Az\xE1ngaro, Peru\",\"time\":1551430242591,\"updated\":1649851917121,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us1000j96d\",\"felt\":160,\"cdi\":7.2,\"mmi\":4.423,\"alert\":\"green\",\"status\":\"reviewed\",\"tsunami\":1,\"sig\":869,\"net\":\"us\",\"code\":\"1000j96d\",\"ids\":\",at00pnoj8k,pt19060000,us1000j96d,\",\"sources\":\",at,pt,us,\",\"types\":\",dyfi,finite-fault,general-text,ground-failure,impact-link,impact-text,losspager,moment-tensor,origin,phase-data,poster,shakemap,\",\"nst\":null,\"dmin\":2.501,\"rms\":1.13,\"gap\":42,\"magType\":\"mww\",\"type\":\"earthquake\",\"title\":\"M
        7.0 - 22 km NNE of Az\xE1ngaro, Peru\",\"products\":{\"dyfi\":[{\"indexid\":\"20766339\",\"indexTime\":1649851921959,\"id\":\"urn:usgs-product:us:dyfi:us1000j96d:1649851917121\",\"type\":\"dyfi\",\"code\":\"us1000j96d\",\"source\":\"us\",\"updateTime\":1649851917121,\"status\":\"UPDATE\",\"properties\":{\"depth\":\"267\",\"eventsource\":\"us\",\"eventsourcecode\":\"1000j96d\",\"eventtime\":\"2019-03-01T08:50:42.000Z\",\"latitude\":\"-14.7131\",\"longitude\":\"-70.1546\",\"magnitude\":\"7.0\",\"maxmmi\":\"7.2\",\"num-responses\":\"160\",\"numResp\":\"160\",\"original-signature\":\"MC0CFBNRtv0CjB/Rtu/Oi2wgLl3csM5FAhUAyxGDj2jPnJiQs3mg9NFGK98JB4E=\",\"original-signature-version\":\"v1\",\"pdl-client-version\":\"Version
        2.7.10 2021-06-21\"},\"preferredWeight\":158,\"contents\":{\"us1000j96d_ciim_geo.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1649851915000,\"length\":140837,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim_geo.pdf\",\"sha256\":\"UqTrTExWciUrWt/0s9+Y4519Npbkw/JI8X/hGy2qAcc=\"},\"us1000j96d_ciim_geo.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1649851915000,\"length\":315773,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim_geo.ps\",\"sha256\":\"6sOpWzMIyHm3TqVVjcKuCtKEyBAmihZcId3Lj+iKUXU=\"},\"dyfi_zip.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1649851915000,\"length\":3651,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_zip.geojson\",\"sha256\":\"eqi/C5gcB/UEsTFfRqPEGDaWbwQ/AQzY49S0MiEprZ4=\"},\"dyfi_geo_10km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1649851915000,\"length\":10578,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_geo_10km.geojson\",\"sha256\":\"0vN5wKBHBAwkqTFazJd8Hg+a+Qnn7a8lmA/Tc0iHe0w=\"},\"dyfi_geo_1km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1649851915000,\"length\":27304,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_geo_1km.geojson\",\"sha256\":\"dhOqss7dMscJsyIzenpoWNmBAlGNUy59KhizEKGMkyE=\"},\"us1000j96d_plot_numresp.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1649851915000,\"length\":33973,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_plot_numresp.jpg\",\"sha256\":\"WmfcZNnRIp1NYCB9iXX6IKhOz50lJ/4oBm5mT9e+P7k=\"},\"us1000j96d_plot_atten.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1649851915000,\"length\":49765,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_plot_atten.ps\",\"sha256\":\"KSW3tLUBV5L9k/UI/XJgm/NcWVOgFneGMMeDsOt0BIQ=\"},\"us1000j96d_ciim.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1649851915000,\"length\":320062,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim.ps\",\"sha256\":\"21aCnyWIL9rtJHUOvPpxjJAyP3CNmKD3MKYtjxznSLU=\"},\"us1000j96d_ciim.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1649851915000,\"length\":135222,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim.jpg\",\"sha256\":\"+YcSkCqzgD/IJW3FEAK/JBzEsnlK2Bae2hqLgAEYFJk=\"},\"us1000j96d_ciim_geo_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1649851915000,\"length\":9130,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim_geo_imap.html\",\"sha256\":\"pgAQMTnUTzdf5Y3Xguw6DczSM4/S8CGD/9frFfwSMiA=\"},\"us1000j96d_plot_numresp.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1649851915000,\"length\":6927,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_plot_numresp.txt\",\"sha256\":\"Es0tEyCn/knxRmYNI9KyaV8xZonGuNYpY4YHCFP3hRQ=\"},\"cdi_geo.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1649851915000,\"length\":3188,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/cdi_geo.txt\",\"sha256\":\"tvu2FURrV0enorz+gTkh4UuWO/KBq5zq6lo/UriDGXk=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1649851915000,\"length\":4224,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/contents.xml\",\"sha256\":\"ZxtDgtdQzGoazoktOu5TOdudDuqJhAmE/Yb38Ck5hHM=\"},\"cdi_geo_1km.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1649851915000,\"length\":9334,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/cdi_geo_1km.txt\",\"sha256\":\"CNn2ixpuj9lTWpCOl3T8J33wQU9Pp0ZOc2SRpNJWenw=\"},\"dyfi_plot_atten.json\":{\"contentType\":\"application/json\",\"lastModified\":1649851915000,\"length\":4348,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_plot_atten.json\",\"sha256\":\"Tyo5jhvXCKgOMVq3VkBjNP81m2K0xire/DElqCFceO4=\"},\"cdi_geo.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1649851915000,\"length\":10460,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/cdi_geo.xml\",\"sha256\":\"djM088GQUblX39GShSDfp2ENwUZE+pdH6uOs4XN+8Bk=\"},\"us1000j96d_ciim.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1649851915000,\"length\":141802,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim.pdf\",\"sha256\":\"Eqyc4Bd5se6r3OIVbFyub89FabUmbdIeGN+heFfVeR0=\"},\"us1000j96d_plot_numresp.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1649851915000,\"length\":30262,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_plot_numresp.ps\",\"sha256\":\"6NTVRiByH1TvsiB+vzG1kbup/JhtHebfF9b9oGYMg3Y=\"},\"cdi_zip.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1649851915000,\"length\":5167,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/cdi_zip.xml\",\"sha256\":\"TBte2ck85B5+XeuIffnnoKFlkUrV7HLV2gtDb61Mo8A=\"},\"dyfi_geo.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1649851915000,\"length\":3196,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_geo.kmz\",\"sha256\":\"SstPEmPke8mbC9qYtjUY8kp5N3Rj5Air3ui35JPbk0k=\"},\"dyfi_zip.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1649851915000,\"length\":2220,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_zip.kmz\",\"sha256\":\"hiwAtUS6zp2FOvRhGdCurxKPqM8g9CRBzhGHp1hNTbw=\"},\"cdi_zip.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1649851915000,\"length\":2443,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/cdi_zip.txt\",\"sha256\":\"df9VnAfEL2aJ3ypAUqyHbQFjRsQyTYIK1Ymj82E7w9E=\"},\"us1000j96d_plot_atten.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1649851915000,\"length\":49248,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_plot_atten.jpg\",\"sha256\":\"8Jq2BgqhleXPhGkeB9Y/uvPZV/otbzQYSd82B2OFB9Y=\"},\"event_data.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1649851915000,\"length\":3034,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/event_data.xml\",\"sha256\":\"5yS3uwfYdzGrn0tQF7THWu+f2KGskMojWQANyaUt1H8=\"},\"dyfi_plot_numresp.json\":{\"contentType\":\"application/json\",\"lastModified\":1649851915000,\"length\":11023,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi_plot_numresp.json\",\"sha256\":\"VifAvnBx5LLKY74bAYQpgXNBeXCJOdZ0ATmwqNqilKg=\"},\"us1000j96d_ciim_geo.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1649851915000,\"length\":132923,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim_geo.jpg\",\"sha256\":\"bBu1KiU/LS2DBX5nH04WDdjz5jG/cZnGhY0f04H8Fi0=\"},\"us1000j96d_plot_atten.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1649851915000,\"length\":3542,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_plot_atten.txt\",\"sha256\":\"e4sVwDn7MaCvV1dadHolPETjwznbwydPxm887rSt6Sk=\"},\"dyfi.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1649851915000,\"length\":1160,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/dyfi.kmz\",\"sha256\":\"EZ01JdI2MlNfu8DH1kN/J3cigWicamPGCPlcOXeQ4x0=\"},\"us1000j96d_ciim_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1649851915000,\"length\":3502,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us1000j96d/us/1649851917121/us1000j96d_ciim_imap.html\",\"sha256\":\"TRMO8Jlsg5kdBmTUfuhJivqRvUUWFSfaTm0YTIQRhxg=\"}}}],\"finite-fault\":[{\"indexid\":\"13441196\",\"indexTime\":1610474343137,\"id\":\"urn:usgs-product:us:finite-fault:us1000j96d_1:1551565786299\",\"type\":\"finite-fault\",\"code\":\"us1000j96d_1\",\"source\":\"us\",\"updateTime\":1551565786299,\"status\":\"UPDATE\",\"properties\":{\"average-rise-time\":\"3.64\",\"average-rupture-velocity\":\"1.76\",\"depth\":\"257.0000\",\"derived-magnitude\":\"6.9800\",\"derived-magnitude-type\":\"Mw\",\"eventsource\":\"us\",\"eventsourcecode\":\"1000j96d\",\"eventtime\":\"2019-03-01T00:00:00.000Z\",\"hypocenter-x\":\"42.5000\",\"hypocenter-z\":\"25.5000\",\"latitude\":\"-14.6844\",\"location\":\"27km
        NNE of Azangaro, Peru\",\"longitude\":\"-70.1267\",\"maximum-frequency\":\"1.0000\",\"maximum-rise\":\"7.2000\",\"maximum-slip\":\"1.9989\",\"minimum-frequency\":\"0.0020\",\"model-dip\":\"78.0000\",\"model-length\":\"85.0000\",\"model-rake\":\"252.0000\",\"model-strike\":\"283.0000\",\"model-top\":\"232.0500\",\"model-width\":\"57.0000\",\"number-longwaves\":\"0\",\"number-pwaves\":\"50\",\"number-shwaves\":\"3\",\"original-signature\":\"MCwCFEr/kZHEPRKzZIQ8o+Buj+iuplkeAhRfSsv2WWugIiQlYkT5dxSvcHxuIA==\",\"original-signature-version\":\"v1\",\"pdl-client-version\":\"Version
        1.10.1 2016-04-07\",\"review-status\":\"reviewed\",\"scalar-moment\":\"39150075000000004096.0000\",\"segment-1-dip\":\"78.0000\",\"segment-1-strike\":\"283.0000\",\"segments\":\"1\",\"subfault-1-area\":\"320.2967\",\"subfault-1-length\":\"19.6881\",\"subfault-1-width\":\"16.2686\",\"time-windows\":\"8\",\"velocity-function\":\"Asymetriccosine\"},\"preferredWeight\":158,\"contents\":{\"coulomb.inp\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1551565623000,\"length\":39101,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/coulomb.inp\",\"sha256\":\"HWcMd1FTdvzK5g1I3MtmQoX+2Anphg7KDeeWDQm01dQ=\"},\"properties.json\":{\"contentType\":\"application/json\",\"lastModified\":1551565779000,\"length\":1075,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/properties.json\",\"sha256\":\"roXoSKMbmMQv1etg4BlhY+5L+1pXv8IaUZ4PE09Od1E=\"},\"basemap.png\":{\"contentType\":\"image/png\",\"lastModified\":1551565633000,\"length\":839113,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/basemap.png\",\"sha256\":\"X7eKZ+6/V8sQsr728TUjKJyWrUCJB76wrQH9q35AwZU=\"},\"basic_inversion.param\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1551565624000,\"length\":54129,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/basic_inversion.param\",\"sha256\":\"gCxI94jRTia4YOG5EfE91ERMeOmZcwHaSaKZPZh+gh8=\"},\"FFM.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1551565778000,\"length\":468666,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/FFM.geojson\",\"sha256\":\"ZUcrRvfs5U6iZy4WnIGqWRhdxcIjYFV2A1YbCs1BG1A=\"},\"1000j96d.html\":{\"contentType\":\"text/html\",\"lastModified\":1551565780000,\"length\":4139,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/1000j96d.html\",\"sha256\":\"a+aI2U7pSR09slL32SEoqtn2vviTDrWqrosKt6ptnkk=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1551565779000,\"length\":1446,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/contents.xml\",\"sha256\":\"2CAkr1fvsjvYBKMO/BcWhQxQ4BZGpxt7R8y+Txd6+xs=\"},\"moment_rate.mr\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1551565624000,\"length\":31744,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/moment_rate.mr\",\"sha256\":\"sULsMOoXXDRHpktkXQh2C4rMlKnqvNSxerlrADOlpRI=\"},\"slip.png\":{\"contentType\":\"image/png\",\"lastModified\":1551565651000,\"length\":339343,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/slip.png\",\"sha256\":\"ogqKVC+HgTufAU4Zataok9iHaFEvkWcb6IdRpnilkr8=\"},\"waveplots.zip\":{\"contentType\":\"application/zip\",\"lastModified\":1551565779000,\"length\":817385,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/waveplots.zip\",\"sha256\":\"BroheoXizTafSgTxa77UUWTr2JXC5EhzI39xJPTwZ6g=\"},\"moment_rate.png\":{\"contentType\":\"image/png\",\"lastModified\":1551565663000,\"length\":100049,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/moment_rate.png\",\"sha256\":\"Bl6Y53j00PwOvHFAZNjr7c/6M4yh21DDS2e7KmmNtJo=\"},\"CMTSOLUTION\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1551565624000,\"length\":5381,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/CMTSOLUTION\",\"sha256\":\"dj0nXWe0/xR2r1xl+t0kibrAhcj7pWUx1c0U+ro5nFA=\"},\"complete_inversion.fsp\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1551565626000,\"length\":32261,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/complete_inversion.fsp\",\"sha256\":\"m+EYwBRTjXDaO9gjp9v9XTpQsWmt5PC/GDMfrkYDWl4=\"},\"analysis.html\":{\"contentType\":\"text/html\",\"lastModified\":1551565778000,\"length\":220,\"url\":\"https://earthquake.usgs.gov/product/finite-fault/us1000j96d_1/us/1551565786299/analysis.html\",\"sha256\":\"E8AaREbxasrSfO/Fv5s9qVm5Rq7pbbrR2Z4jAg57xPE=\"}}},{\"indexid\":\"9490630\",\"indexTime\":1609372110668,\"id\":\"urn:usgs-product:us:finite-fault:us1000j96d_2:1551565781438\",\"type\":\"finite-fault\",\"code\":\"us1000j96d_2\",\"source\":\"us\",\"updateTime\":1551565781438,\"status\":\"UPDATE\",\"properti[...]
[...]
