interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=us1000j96d&includedeleted=false&includesuperseded=false
  response:
    body:
      string: '{"type":"Feature","properties":{"mag":7,"place":"24km NNE of Azangaro,
        Peru","time":1551430242570,"updated":1553672396036,"tz":-300,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us1000j96d","felt":251,"cdi":7.2,"mmi":4.422,"alert":"green","status":"reviewed","tsunami":1,"sig":935,"net":"us","code":"1000j96d","ids":",at00pnoj8k,pt19060000,us1000j96d,","sources":",at,pt,us,","types":",dyfi,finite-fault,general-text,geoserve,ground-failure,impact-link,losspager,moment-tensor,origin,phase-data,poster,shakemap,","nst":null,"dmin":2.488,"rms":1.12,"gap":42,"magType":"mww","type":"earthquake","title":"M
        7.0 - 24km NNE of Azangaro, Peru","products":{"dyfi":[{"indexid":"179640362","indexTime":1553671873423,"id":"urn:usgs-product:us:dyfi:us1000j96d:1553671870772","type":"dyfi","code":"us1000j96d","source":"us","updateTime":1553671870772,"status":"UPDATE","properties":{"depth":"267","eventsource":"us","eventsourcecode":"1000j96d","eventtime":"2019-03-01T08:50:42.000Z","latitude":"-14.7132","longitude":"-70.1375","magnitude":"7.0","maxmmi":"7.2","num-responses":"251","numResp":"251","pdl-client-version":"Version
        1.13.3 2018-02-06"},"preferredWeight":156,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1553671870000,"length":3042,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1553671870000,"length":9976,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/cdi_geo.xml"},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1553671870000,"length":9054,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/cdi_geo_1km.txt"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1553671870000,"length":2250,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1553671870000,"length":4764,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/cdi_zip.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1553671870000,"length":4224,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/contents.xml"},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1553671870000,"length":1160,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi.kmz"},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1553671870000,"length":3048,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_geo.kmz"},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1553671870000,"length":9949,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_geo_10km.geojson"},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1553671870000,"length":26195,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_geo_1km.geojson"},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1553671870000,"length":2470,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_plot_atten.json"},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1553671870000,"length":16770,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_plot_numresp.json"},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1553671870000,"length":3354,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_zip.geojson"},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1553671870000,"length":2077,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/xml","lastModified":1553671870000,"length":3034,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/event_data.xml"},"us1000j96d_ciim.jpg":{"contentType":"image/jpeg","lastModified":1553671870000,"length":105331,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim.jpg"},"us1000j96d_ciim.pdf":{"contentType":"application/pdf","lastModified":1553671870000,"length":131747,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim.pdf"},"us1000j96d_ciim.ps":{"contentType":"application/postscript","lastModified":1553671870000,"length":319579,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim.ps"},"us1000j96d_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1553671870000,"length":103607,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim_geo.jpg"},"us1000j96d_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1553671870000,"length":130439,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim_geo.pdf"},"us1000j96d_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1553671870000,"length":315307,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim_geo.ps"},"us1000j96d_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1553671870000,"length":9128,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim_geo_imap.html"},"us1000j96d_ciim_imap.html":{"contentType":"text/html","lastModified":1553671870000,"length":3502,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_ciim_imap.html"},"us1000j96d_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1553671870000,"length":47939,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_plot_atten.jpg"},"us1000j96d_plot_atten.ps":{"contentType":"application/postscript","lastModified":1553671870000,"length":49640,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_plot_atten.ps"},"us1000j96d_plot_atten.txt":{"contentType":"text/plain","lastModified":1553671870000,"length":1684,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_plot_atten.txt"},"us1000j96d_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1553671870000,"length":32949,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_plot_numresp.jpg"},"us1000j96d_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1553671870000,"length":30296,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_plot_numresp.ps"},"us1000j96d_plot_numresp.txt":{"contentType":"text/plain","lastModified":1553671870000,"length":10573,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000j96d/us/1553671870772/us1000j96d_plot_numresp.txt"}}}],"finite-fault":[{"indexid":"178647682","indexTime":1551565790709,"id":"urn:usgs-product:us:finite-fault:us1000j96d_1:1551565786299","type":"finite-fault","code":"us1000j96d_1","source":"us","updateTime":1551565786299,"status":"UPDATE","properties":{"average-rise-time":"3.64","average-rupture-velocity":"1.76","depth":"257.0000","derived-magnitude":"6.9800","derived-magnitude-type":"Mw","eventsource":"us","eventsourcecode":"1000j96d","eventtime":"2019-03-01T00:00:00.000Z","hypocenter-x":"42.5000","hypocenter-z":"25.5000","latitude":"-14.6844","location":"27km
        NNE of Azangaro, Peru","longitude":"-70.1267","maximum-frequency":"1.0000","maximum-rise":"7.2000","maximum-slip":"1.9989","minimum-frequency":"0.0020","model-dip":"78.0000","model-length":"85.0000","model-rake":"252.0000","model-strike":"283.0000","model-top":"232.0500","model-width":"57.0000","number-longwaves":"0","number-pwaves":"50","number-shwaves":"3","pdl-client-version":"Version
        1.10.1 2016-04-07","review-status":"reviewed","scalar-moment":"39150075000000004096.0000","segment-1-dip":"78.0000","segment-1-strike":"283.0000","segments":"1","subfault-1-area":"320.2967","subfault-1-length":"19.6881","subfault-1-width":"16.2686","time-windows":"8","velocity-function":"Asymetriccosine"},"preferredWeight":156,"contents":{"1000j96d.html":{"contentType":"text/html","lastModified":1551565780000,"length":4139,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/1000j96d.html"},"CMTSOLUTION":{"contentType":"application/octet-stream","lastModified":1551565624000,"length":5381,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/CMTSOLUTION"},"FFM.geojson":{"contentType":"application/octet-stream","lastModified":1551565778000,"length":468666,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/FFM.geojson"},"analysis.html":{"contentType":"text/html","lastModified":1551565778000,"length":220,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/analysis.html"},"basemap.png":{"contentType":"image/png","lastModified":1551565633000,"length":839113,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/basemap.png"},"basic_inversion.param":{"contentType":"application/octet-stream","lastModified":1551565624000,"length":54129,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/basic_inversion.param"},"complete_inversion.fsp":{"contentType":"application/octet-stream","lastModified":1551565626000,"length":32261,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/complete_inversion.fsp"},"contents.xml":{"contentType":"application/xml","lastModified":1551565779000,"length":1446,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/contents.xml"},"coulomb.inp":{"contentType":"application/octet-stream","lastModified":1551565623000,"length":39101,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/coulomb.inp"},"moment_rate.mr":{"contentType":"application/octet-stream","lastModified":1551565624000,"length":31744,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/moment_rate.mr"},"moment_rate.png":{"contentType":"image/png","lastModified":1551565663000,"length":100049,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/moment_rate.png"},"properties.json":{"contentType":"application/json","lastModified":1551565779000,"length":1075,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/properties.json"},"slip.png":{"contentType":"image/png","lastModified":1551565651000,"length":339343,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/slip.png"},"waveplots.zip":{"contentType":"application/zip","lastModified":1551565779000,"length":817385,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000j96d_1/us/1551565786299/waveplots.zip"}}},{"indexid":"178647642","indexTime":1551565786668,"id":"urn:usgs-product:us:finite-fault:us1000j96d_2:1551565781438","type":"finite-fault","code":"us1000j96d_2","source":"us","updateTime":1551565781438,"status":"UPDATE","properties":{"average-rise-time":"3.67","average-rupture-velocity":"2.27","depth":"257.000[...]
[...]
